<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>غير مرخص</title>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: rgb(226, 225, 225);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>

    <div>
        <h2>برجاء التواصل على رقم 01144435326 لترخيص هذا البرنامج | 403</h2>
    </div>

</body>

</html>